<div ng-include="'partials/navbar.html'"></div>
<div class="row">
  <div class="col-lg-3">
    <p>This is the arena view.</p>
  </div>
  <div class="col-lg-3">
    <canvas id="inputCanvas" width="250" height="200" style="display:none"></canvas>
    <video id="inputVideo" autoplay loop></video>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3" id="arena">
    <!-- <canvas id="gameCanvas" width="500" height="400"></canvas> -->
  </div>
  <script src="scripts/pongd3.js"></script>
</div>