<div ng-include="'partials/navbar.html'"></div>
<div class="row">
  <div class="col-lg-3">
    <p>This is the arena view.</p>
  </div>
  <div class="col-lg-9">
    <canvas id="inputCanvas" width="400" height="200" style="display:none"></canvas>
    <video id="inputVideo" autoplay loop></video>
    <button class="btn btn-primary" type="submit" ng-click="startGame()">Start Game</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3" id="arena">
    <!-- <canvas id="gameCanvas" width="500" height="400"></canvas> -->
  </div>
  <div class="col-lg-3">
    <form ng-submit="connectToPeer()">
      <p id="myPeerId"></p>
      <p>Enter opponent's id:</p>
      <input type="text" ng-model="peerIdInput.id">
      <input type="submit" value="Submit">
    </form>
    <form ng-click="sendData()">
      <input type="submit" value="Send Data">
    </form>
  </div>
</div>