<!-- <div ng-include="'partials/navbar.html'"></div> -->
<div class="row center">
  <div class="col-lg-8 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-2 join-text">
    <div ng-hide="disableJoins">
      <form ng-submit="connectToPeer()">
        <div>
          <p id="myPeerId"></p>
          <p>Enter opponent's id:</p>
        </div>
        <input type="text" ng-model="peerIdInput.id">
        <input type="submit" value="Submit" ng-disabled="disableJoins">
      </form>
      <br>
      <form ng-submit="joinGame()">
        <input type="submit" value="Join A Game" ng-disabled="disableJoins">
      </form>
      <form ng-submit="restartGame()" ng-show="gameOver">
        <input type="submit" value="Restart Game">
      </form>
    </div>
    <br>
  </div>
  <div class="col-lg-8 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-2" ng-show="disableJoins">
    <div>
      <span class="glyphicon glyphicon-arrow-up"></span>
      <h2 ng-show="disableJoins">Allow camera access to join a game</h2>
    </div>
<!--     <button class="btn btn-primary" type="submit" ng-click="startGame()">Start Game</button> -->
  </div>
  <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 title">
    <h1>FACE PONG</h1>
  </div>
</div>
<br>
<div class="row center" id="game">
  <div class="col-lg-4 col-md-4">
    <div class="row">
      <div class="col-lg-12">
        <div ng-hide="disableJoins" class="score-text">
          <h2>Score</h2>
          <h3>You: {{ host ? score.score.host : score.score.client }} Opponent: {{ host ? score.score.client : score.score.host }}</h3>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="vid">
          <canvas id="inputCanvas" width="400" height="200" style="display:none" ng-hide="disableJoins"></canvas>
          <video id="inputVideo" autoplay ng-hide="disableJoins" loop></video>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8" id="arena">
    <!-- <canvas id="gameCanvas" width="500" height="400"></canvas> -->
  </div>
</div>